


<table>
    <tr>
        <th>Nome</th>
        <th>
            <input type="text" [(ngModel)]="contato.name">
        </th>
    </tr>
    <tr>
        <th>Telefone</th>
        <th>
            <input type="text" [(ngModel)]="contato.phone">
        </th>
    </tr>
    <tr>
        <th>E-mail</th>
        <th>
            <input type="text" [(ngModel)]="contato.email">
        </th>
    </tr>
    <tr>
        <th>
            <button (click)="salvar()">
                Salvar
            </button>
        </th>
    </tr>
</table>